fastapi
pydantic
gunicorn
uvicorn
sqlalchemy[asyncio]
aiomysql
boto3
botocore
starlette
contextvars
gevent
greenlet
asyncio
async-cache
requests
fastapi-cognito
pysolr
pytest
fastapi_utils
pymysql
mangum
